<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440407054220-ocd5ss51s2ge3sohldjgdt6fco9ql081.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440407054220-ocd5ss51s2ge3sohldjgdt6fco9ql081</string>
	<key>API_KEY</key>
	<string>AIzaSyCWR9qnNfP5NDX0X2qe1UxE5BcMvMGEAr8</string>
	<key>GCM_SENDER_ID</key>
	<string>440407054220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redesajn.FuelLog</string>
	<key>PROJECT_ID</key>
	<string>fuellog-c28cc</string>
	<key>STORAGE_BUCKET</key>
	<string>fuellog-c28cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440407054220:ios:8f532bc28b99cce052e8a9</string>
	<key>DATABASE_URL</key>
	<string>https://fuellog-c28cc.firebaseio.com</string>
</dict>
</plist>